{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">QAAA</a>
    {{if not .}}
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project/list">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/testruns/list">Testruns</a>
          </li>
      </ul>
    </div>
    {{end}}
  </div>
</nav>
{{end}}
