{{template "base" .}}
{{define "main"}}
{{template "navbar"}}
{{template "breadcrumb" .Breadcrumb}}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{.Project.Name}}</h4>
          <p>{{.Project.Description}}</p>
          <hr>
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <div class="d-grid">
                  <a href="#" class="btn btn-primary">Run all tests</a>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <a class="btn btn-primary" href="{{GetUrlForRouteUInt64 "projectEdit" .Project.Id}}">Edit</a>
                </div>
              </div>
              <div class="col-3">
                <div class="d-grid">
                  <a href="{{GetUrlForRouteUInt64 "suiteCreate" .Project.Id}}" class="btn btn-primary">Create New
                    Testsuite</a>
                </div>
              </div>
              <div class="col-2">
                <form action="{{GetUrlForRouteUInt64 "projectDelete" .Project.Id}}" method="post"
                  onsubmit="return confirm('Do you really want to delete this project');">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr />
          <h4>Testsuites</h5>

          <table class="table table-sm table-bordered mt-3">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{$projectId := .Project.Id}}
              {{$tasksBySuiteId := .TasksBySuiteId}}
              {{range $suite := .Suites}}
              <tr class="suite-row">
                <td>{{$suite.Name}}</td>
                <td>{{$suite.Description}}</td>
                <td>
                  <a href="{{GetUrlForRouteUInt64 "suiteDetail" $projectId $suite.Id}}"
                    class="btn btn-outline-primary btn-sm">Details</a>
                  <a href="#" class="btn btn-outline-primary btn-sm">Run all</a>
                </td>
              </tr>

              <tr class="task-row">
                <td></td>
                <td colspan="2">
                  <table class="table table-sm table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="2">
                          <a class="btn btn-primary btn-sm" href="{{GetUrlForRouteUInt64 "taskCreate" $suite.ProjectId $suite.Id}}">Create new task</a>
                        </td>
                      </tr>
                      {{range $task := index $tasksBySuiteId $suite.Id}}
                      <tr>
                        <td><strong>{{$task.Type}}</strong></td>
                        <td>{{$task.Name}}</td>
                        <td>{{$task.Description}}</td>
                        <td>
                          <a href="#" class="btn btn-outline-primary btn-sm">Run</a>
                          <a href="{{GetUrlForRouteUInt64 "taskDetail" $suite.ProjectId $suite.Id $task.Id}}" class="btn btn-outline-primary btn-sm">Edit</a>
                        </td>
                      </tr>
                      {{end}}
                    </tbody>
                  </table>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}