{{template "base" .}}
{{define "main"}}
{{template "navbar"}}
{{template "breadcrumb" .Breadcrumb}}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{.Suite.Name}}</h4>
          <p>{{.Suite.Description}}</p>
          <hr>
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <div class="d-grid">
                  <a href="#" class="btn btn-primary">Run all tests</a>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <a class="btn btn-primary" href="{{GetUrlForRouteUInt64 "suiteEdit" .Suite.ProjectId .Suite.Id }}">Edit</a>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <a href="{{GetUrlForRouteUInt64 "taskCreate" .Suite.ProjectId .Suite.Id }}" class="btn btn-primary">Create New
                    Task</a>
                </div>
              </div>
              <div class="col-2">
                <form action="{{GetUrlForRouteUInt64 "suiteDelete" .Suite.ProjectId .Suite.Id }}" method="POST"
                  onsubmit="return confirm('Do you really want to delete this suite');">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr>
          <h5>Tasks</h5>
          <table class="table table-sm table-hover table-bordered">
            <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <button class="btn btn-primary btn-sm">Create new task</button>
                </td>
              </tr>
              {{$suite := .Suite}}
              {{range $task := .Tasks}}
              <tr>
                <td><strong>{{$task.Type}}</strong></td>
                <td>{{$task.Name}}</td>
                <td>{{$task.Description}}</td>
                <td>
                  <a href="#" class="btn btn-outline-primary btn-sm">Run</a>
                  <a href="{{GetUrlForRouteUInt64 "taskDetail" $suite.ProjectId $suite.Id $task.Id}}" class="btn btn-outline-primary btn-sm">Edit</a>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}