{{template "base" .}}
{{define "main"}}
{{template "navbar"}}
{{template "breadcrumb" .Breadcrumb}}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{.Task.Name}}</h4>
          <p>{{.Task.Description}}</p>
          <hr>
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <div class="d-grid">
                  <a href="#" class="btn btn-primary">Run</a>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <a class="btn btn-primary" href="{{GetUrlForRouteUInt64 "taskEdit" .Project.Id .Suite.Id .Task.Id }}">Edit</a>
                </div>
              </div>
       
              <div class="col-2">
                <form action="{{GetUrlForRouteUInt64 "taskDelete" .Project.Id .Suite.Id .Task.Id}}" method="POST"
                  onsubmit="return confirm('Do you really want to delete this task');">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}