{{template "base" .}}
{{define "main"}}
{{template "navbar"}}
{{template "breadcrumb" .Breadcrumb}}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{.Task.Name}}</h4>
          <p>{{.Task.Description}}</p>
          <hr>
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <div class="d-grid">
                  <button id="run" class="btn btn-primary">Run</button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button id="save" class="btn btn-primary" href="">Save</button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <a class="btn btn-primary" href="{{GetUrlForRouteUInt64 " taskEdit" .Project.Id .Suite.Id .Task.Id}}">Settings</a>
                </div>
              </div>

              <div class="col-2">
                <form action="{{GetUrlForRouteUInt64 " taskDelete" .Project.Id .Suite.Id .Task.Id}}" method="POST" onsubmit="return confirm('Do you really want to delete this task');">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              </div>
            </div>
            <div id="run-result" class="row">
            
            </div>
            <hr>
            <div class="row">
              <h5>Action</h5>
              <form>
                <div>
                  <label for="method" class="form-label">Method</label>
                  <select name="method" id="method" class="form-control">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                  </select>
                </div>
                <div>
                  <label for="url" class="form-label">Url</label>
                  <input type="text" class="form-control" id="url" name="url" value="{{.Task.Task.Url}}">
                </div>
              </form>
            </div>
            <div class="row mt-3">
              <h5>Checks</h5>
              <div id="checks"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "styles"}}
<style>
  pre {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    color: black;
    font-size: 12px;
  }
</style>
{{end}}

{{define "scripts"}}
<script src="/static/scripts/task_detail/main.js" type="module"></script>
{{end}}