{{template "base" .}}
{{define "main"}}
{{template "navbar" .}}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{.Project.Name}}</h4>
          <p>{{.Project.Description}}</p>
          <hr />
          <h5>Testsuites</h5>
          <a href="#" class="btn btn-primary">Create New Testsuite</a>
          <a href="#" class="btn btn-primary">Run all tests</a>
          <table class="table table-sm table-bordered mt-3">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{range $suite := .Project.Suites}}
              <tr>
                <td>{{$suite.Name}}</td>
                <td>{{$suite.Description}}</td>
                <td>
                  <a href="#" class="btn btn-outline-primary btn-sm">Details</a>
                  <a href="#" class="btn btn-outline-primary btn-sm">Run all</a>
                </td>
              </tr>
              
              <tr>
                <td></td>
                <td colspan="2">
                  <table class="table table-sm table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="2">
                          <button class="btn btn-primary btn-sm">Create new test</button>
                        </td>
                      </tr>
                      {{range $task := $suite.Tasks}}
                      <tr>
                        <td>{{$task.Name}}</td>
                        <td>
                          <a href="#" class="btn btn-outline-primary btn-sm">Run</a>
                          <a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
                        </td>
                      </tr>
                      {{end}}
                    </tbody>
                  </table>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}