{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QAAA</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style.css">
    {{template "styles" .}}
  </head>
  <body>
      {{template "main" .}}
      <script defer src="/static/axios.min.js"></script>
      <script defer src="/static/nunjucks.min.js"></script>
      {{template "scripts" .}}
  </body>
</html>
{{end}}
{{define "styles"}}
{{end}}
{{define "scripts"}}
{{end}}